
<% def configure_permitted_parameters %>
  devise_parameter_sanitizer.permit(:sign_up, keys: [:first_name, :last_name])
<% end %>

<div class="d-flex align-items-center justify-content-center">
  <div class="text-start">
    <div class="form-list new-dog-form">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
        <%= f.input :first_name,
                      autofocus: true,
                      input_html: { autocomplete: "First Name" }%>
        <%= f.input :last_name,
                      autofocus: true,
                      input_html: { autocomplete: "Last Name" }%>
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="form-actions">
         <button class="button-55" style="height: 48px; margin-bottom: 10px; position: relative; width: 90px;"><%= f.button :submit, "Sign up", style: "position: absolute; bottom: -15px; right: 4px;" %></button>
        </div>
      <% end %>
    </div>
  </div>
</div>
