<div class="d-flex align-items-center justify-content-center">
  <div class="text-start">
    <div class="form-list new-dog-form">
      <%= simple_form_for @dog do |f| %>
        <div class="form-row">
          <div class="col">
            <%=f.input :name %>
          </div>
          <div class="col">
            <%=f.input :breed %>
          </div>
        </div>
        <%=f.input :age %>
        <%=f.input :description %>
        <%=f.input :price %>
        <%=f.input :location %>
        <%# <%= f.input :photo, as: :file %>
        <%= f.input :photos, abutton-55s: :file, input_html: { multiple: true } %>
        <%= f.submit 'Submit', class: '' %>
        <%= link_to 'Cancel', root_path, class: 'button-55' %>
      <% end %>
    </div>
  </div>
</div>

<%# <%= cl_image_tag @dog.photo.key, height: 300, width: 400, crop: :fill %>
