<div class="d-flex align-items-center justify-content-center">
  <div class="text-start">
    <div class="form-list new-dog-form">
      <%= simple_form_for @dog do |f| %>
        <div class="form-row" >
          <div class="col">
            <%=f.input :name %>
          </div>
          <div class="col">
            <%=f.input :breed %>
          </div>
        </div>
        <%=f.input :age %>
        <%=f.input :description %>
        <%=f.input :price %>
        <%=f.input :location %>
        <%# <%= f.input :photo, as: :file %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <button class="button-55"><%= f.submit style: "background-color: white"%></button>
        <button style="border: none;"><%= link_to 'Cancel', root_path, style: "text-decoration: none; color: black;"%></button>
      <% end %>
    </div>
  </div>
</div>

<%# <%= cl_image_tag @dog.photo.key, height: 300, width: 400, crop: :fill %>
