<div class="dog-card-show">
  <div class="pic">
<!-- Carousel -->
  <div id="carouselExampleControls" class="carousel slide h-100 w-100" data-bs-ride="carousel">
<!-- Attempted code below to review with TA -->
    <div class=”carousel-inner”>
      <% @dog.photos.each_with_index do |pic, index| %>
        <div class="carousel-item <%= "active " if index==0 %>">
          <%= cl_image_tag(pic.key) %>
        </div>
      <%end%>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" style="color: black;"  aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div>
  <%# <%= cl_image_tag @dog.photos[0], height: 300, width: 400, crop: :fill %>
    <div class="dog-card-info">
      <h1 style="font-family: 'Lobster', cursive; color: #836E5D;"> <%= @dog.name %></h1>
      <p><span style="background-color: #CCC2B8"><strong>Breed:</strong> <%= @dog.breed %></span></p>
      <p><span style="background-color: #CCC2B8"><strong>Age:</strong> <%= @dog.age %></span></p>
      <p><span style="background-color: #CCC2B8"><strong>Character:</strong> <%= @dog.description %></span></p>
      <p><span style="background-color: #CCC2B8"><strong>£</strong> <%= @dog.price %> per hour</span></p>
    <div class="card-buttons" style="justify-content: space-between">
      <!-- Button trigger modal -->
      <%= link_to "Back", url_for(:back) , class:"button-55" %>
      <button type="button" class="button-55" data-bs-toggle="modal" data-bs-target=<%= "#dog-modal-#{@dog.id}"%>>
      <%="Book #{@dog.name}"%>
      </button>
    </div>
  </div>
</div>
  <!-- Modal -->
<div class="modal fade" id=<%= "dog-modal-#{@dog.id}" %> data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby=<%= "staticBackdropLabel-#{@dog.id}" %> aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id=<%= "staticBackdropLabel-#{@dog.id}" %>><%= "Booking in Progress...."%></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2><%= "Booking #{@dog.name}"  %></h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <%= link_to "Book #{@dog.name}", new_dog_booking_path(@dog), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
<!-- footer -->
