<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%# <a class="navbar-brand" href="#"> %>
      <i class="fa fa-paw" style="font-size:25px;"></i>
    <%# </a> %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to 'Home', root_path, class: 'nav-text' %>
            <%# <a class="nav-link" href="#">Home</a> %>
          </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Profile</a>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>

<div class="dog-card-show mt-4">
    <div class="image">

    <%# <%= cl_image_tag @dog.photo.key, height: 300, width: 400, crop: :fill %>
    </div>
    <div class="card-info">
    <h2><%=@dog.name%></h2>
      <p>Owner: <%= @dog.user.first_name %></p>
      <p>Breed: <%= @dog.breed %></p>
      <p>Age: <%= @dog.age %></p>
      <p>Character: <%= @dog.description %></p>
      <p>£ <%= @dog.price %> per hour</p>
      <div class="card-buttons">
      <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary m-0" data-bs-toggle="modal" data-bs-target=<%= "#dog-modal-#{@dog.id}"%>>
          <%="Book #{@dog.name}"%>
        </button>
        <%= link_to "Back", dogs_path, class: "btn btn-primary m-0" %>
      </div>
    </div>
  </div>

<!-- Carousel -->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <% @dog.photos.each do |photo| %>
      <%# <div class="carousel-item active <%= if image == @dog.photos[0] %>"> %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      </div>
    <% end %>
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>


  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


  <!-- Modal -->
  <div class="modal fade" id=<%= "dog-modal-#{@dog.id}" %> data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby=<%= "staticBackdropLabel-#{@dog.id}" %> aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id=<%= "staticBackdropLabel-#{@dog.id}" %>><%= "You've booked #{@dog.name}!"%></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           <h2><%= "Booking"  %></h2>
            <%= image_tag 'susi.jpg', alt: 'Susi', style: 'height:200px; width:auto'%>
        </div>

        <div>
         <%= simple_form_for [@dog, @booking] do |f| %>
            <%= f.label :Start%>
            <%= f.date_field :pick_up, as: :string %>
            <%= f.label :End%>

            <%= f.date_field :drop_off, as: :string%>
            <span style="font-weight: normal; padding: 20px;font-size: 1.3rem;"> £<%= @dog.price %>/day </span>
            <%= f.submit "Submit", class: "btn btn-primary" %>
         <% end %>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <%= link_to "Book #{@dog.name}", new_dog_booking_path(@dog), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>

<!-- footer -->
<%= render "shared/footer" %>
