
  <h1><%=@dog.name%></h1>
  <p>Owner: <%= @dog.user.first_name  %></p>
  <p>Breed: <%= @dog.breed %></p>
  <p>Age: <%= @dog.age %></p>
  <p>Character: <%= @dog.description %></p>
  <p>£ <%= @dog.price %> per hour</p>
  <%= image_tag "https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/golden-retriever-royalty-free-image-506756303-1560962726.jpg?crop=0.672xw:1.00xh;0.166xw,0&resize=640:*", alt: 'Dog', style: 'height:200px; width:auto'%>
