<h1 class="dash-h1"><%= "Your dashboard" %></h1>

<div class="dash-card-container">
  <% @past_bookings.each do |booking| %>
    <div class="dash-card">
      <%= cl_image_tag booking.dog.photos[0].key, width: 200, height: 200, class: "dash-card-img" %>
      <div class="dash-card-text">
        <div class="title-text">
          <h5>Your booking with</h5>
          <h1><%= booking.dog.name %></h1>
          <%# <h5>the <%= booking.dog.breed</h5> %>
        </div>
        <p><%= booking.dog.description %></p>
        <ul>
        <li ><strong>Start date:</strong> <%= (booking.pick_up).strftime("%a, %b %d %Y ") %></li>
        <li><strong>End date:</strong> <%= (booking.drop_off).strftime("%a, %b %d %Y ") %></li>
        <li><strong>Total fee:</strong> £<%= booking.total_price %></li>
        </ul>
        <div class="dash-btns">
          <%# <%= link_to 'View booking', booking_path(booking) %>
          <%= link_to 'Edit', edit_booking_path(booking), class:"button-55-dash" %>
          <%= link_to 'Cancel', booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' }, class:"button-55-dash" %>
          <br>
          <%= link_to 'View dog', dog_path(:dog_id), class:"button-55-dash"%>
          <%# <%= link_to 'Edit dog', edit_dog_path(:dog_id) %>
          <%# <%= link_to 'Delete dog', dog_path(:dog_id), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        </div>
    </div>
  <% end %>
</div>
