<div class="d-flex align-items-center justify-content-center">
  <div class="text-start">
    <div class="form-list new-dog-form">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>
        <div class="form-actions">
          <button class="button-55" style="height: 48px; margin-bottom: 10px; position: relative; width: 90px;"><%= f.button :submit, "Log in", style: "position: absolute; bottom: 9px; right: 16px; background-color: white;" %></button>
        </div>
      <% end %>
    </div>
  </div>
</div>
